#theme-#{$theme} {
  // echat-main-header
  .echat-main-header { // 头部
    background-color: $echat-header-backgroudColor;

    .echat-logo {
      color: $echat-logo-color;
    }

    .handleList li {
      i {
        color: $echat-header-handleList-i-color;
      }
    }

    .handleList li a {
      color: $echat-header-handleList-a-color;
    }

    .handleList li:hover {
      background-color: $echat-header-handleList-hover-bgcolor;
    }

    .handleList li:hover i, .handleList li:hover a {
      color: $echat-header-handleList-hover-color;
    }

    .logout {
      color: $echat-header-logout;
    }

    .logout:hover {
      color: $echat-header-logout-hover;
    }

    .online {
      color: $echat-header-online;
    }
  }

  // echat-little-header.vue
  .echat-little-header {
    background-color: $echat-little-header-bgcolor;

    .logout {
      color: $echat-header-logout;
    }

    .logout:hover {
      color: $echat-header-logout-hover;
    }
  }

  // personalMain.vue
  .echat-main {
    .echat-content {
      //background-color: $echat-content-bgcolor;
      .echat-content-nav {
        background-color: $echat-content-nav-bgcolor;
        box-shadow: $echat-content-nav-box-shadow;

        ul {
          li {
            a {
              color: $echat-content-nav-color;
            }
          }

          li.active {
            a {
              color: $echat-content-nav-active-color;
            }
          }
        }
      }

      .echat-content-left-footer {
        ul {
          a {
            color: $echat-content-nav-color;
          }

          li.active {
            a {
              color: $echat-content-nav-active-color;
            }
          }
        }
      }
    }

    .echat-content-view {
      background-color: $echat-content-view-bgcolor;
    }
  }
}
